<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="{{ url_for('views.home') }}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">
                <!-- <i class="fa fa-hashtag me-2"></i> -->
                FRUTA
            </h3>
        </a>
        <div class="navbar-nav w-100">
            <a href="{{ url_for('views.home') }}" class="nav-item nav-link {% if home %}active{% endif %}"><i class="bi bi-basket2-fill me-2"></i>Products</a>

            <a href="{{ url_for('views.orders') }}" class="nav-item nav-link {% if orders %}active{% endif %}"><i class="bi bi-cart-check-fill me-2"></i>Orders</a>
            <a href="{{ url_for('views.clients') }}" class="nav-item nav-link {% if clients %}active{% endif %}"><i class="bi bi-people-fill me-2"></i>Clients</a>
        </div>
    </nav>
</div>